* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
  margin: 0;
  background-color: #faf1d2;
}

header {

	display: flex;
	justify-content: space-between;
	padding: 25px;
    width: 96,2%;
    background-color: #dbba61;
    height: 40px;
}

header .logo-robotica {
  width: 200px;
  transition: 0.2s ease-in-out;
  margin-bottom: 20px;
}

header .imagem-botao {
  width: 40px;
  height: 35px;
  transition: 0.2s ease-in-out;
  margin-top: 5px;
}

header .logo-robotica:hover {
  transform: scale(1.05);
  cursor: pointer;
}

header .imagem-botao:hover {
  transform: scale(1.2);
  cursor: pointer;
}


.container-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video {
  margin: 20px;
  width: 100%;
  height: 500px;
}

.robotica-banner{
    margin: 20px;
    max-width: 100%;
}

.robotica-banner img {
    width: 100%;
    height: auto;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 35px;
}
  
  .botoes img {
    padding: 25px;
}
  
  .animacao-botao {
    transition: 0.2s ease-in-out;
}
  
  .animacao-botao:hover {
    transform: scale(1.05);
    cursor: pointer;
}
  

.titulo-barra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  border: 10px solid #dbba61;
  border-radius: 60px;
  background-color: #dbba61;
  margin: 130px auto auto;
}

.titulo{
    color: #05a71c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.texto-missao-valores {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: justify;
    margin: 50px;
    color: #0b3b08;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
